$background: #222009;
//font
$fontColor: #deae26;
$fontSize: 10px;

//button
$buttonsWidth: 140px;
$buttonHeight: 50px;
$buttonFontSize: 1.8rem;
$buttonBg: #000;

$borderColor: rgb(3, 3, 3);

$shadow: rgba(0, 0, 0, 0.3);

//level buttons
$lockedButtonBg: rgb(32, 32, 32);
$levelButtonFontSize: 3.5rem;
$levelButtonIconSize: 5rem;

//result message
$won: #09a109;
$lost: #e93f00;

//fonts family
$specialFont: "Hanalei Fill", cursive;
$fontForScore: "Big Shoulders Stencil Text", cursive;
